html, body {
  margin: 3%;
  background-color: #fff;
}
a{
	color: #777;
}
a:hover{
	color: black;
}
textarea{
	resize:none;
}
.settings-img{
	width: 100%;
	height: 175px;
}
.rounded-img{
	border-radius: 2%;
}
.center-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.info-card{
	overflow: hidden;
	padding: 1%;
}
.info-card img{
	margin-right: 2%;
	width: 90px;
}
.info-card h3{
	margin-top: 0;
	margin-bottom: 1%;
}
.user-info{
	padding-left:1%;
}
.alert p{
	padding: 1%;
	margin-bottom: 0;
	font-weight: bold;
}
.alert span{
	cursor: pointer;
}
.error{
	border: 3px solid #BD0000;
	border-radius: 4px;
	color: black;
	background-color: rgba(200, 54, 54, 0.49);
}
.success{
	border: 3px solid #009028;
	border-radius: 4px;
	color: black;
	background-color: rgba(102, 200, 54, 0.49);
}
.spaces{
	margin-right: 1%;
	margin-bottom: 2%;
}
.side-padding{
	padding-right: 2%;
	padding-left: 2%;
}
.navbar-brand{
	font-weight: bold;
	font-size: 25px;
}
.navbar-color{
	background-color: white;
}
.header{
	margin: 5%;
}
.header p{
	color: #bbb;
}
.header a{
	color: #777;
}
.btn-success{
	border: 1px solid rgba(31, 190, 31, 0.68);
	color: rgba(31, 190, 31, 0.68);
	background-color: white;
}
.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success.active{
	border: 1px solid #449d44;
	color: #449d44;
	background-color: white;
}
.btn-primary{
	border: 1px solid #898989;
	color: #898989;
	background-color: white
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active{
	border-color: 1px solid #555;
	color: #555;
	background-color: white
}
.projects{
	padding: 0 2% 0 2%;
}
.project{
	margin-top: 5%;
	margin-bottom: 5%;
}
.add-project input{
	border: none;
	text-align: center;
	margin-bottom: 1%;
}
.add-project input:focus{
	box-shadow: none;
	outline: none;
}
.add-project textarea{
	border: none;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 30px;
}
.add-project textarea:focus{
	box-shadow: none;
	outline: none;
}
.add-project select{
	border-bottom: 1px solid black;
	background-color: white;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    border-right: none;
    border-left:none;
    border-top:none;
    border-radius: 0;
    font-size: 14px;
}
.add-project option{
    text-align: center;
}
.add-project-nav-btn{
	margin-right: 1%;
}
#current-user-gravatar{
	padding: 0;
}
.nothing-found{
	color: rgba(187, 187, 187, 0.34);
	margin: 5%;
	white-space: nowrap;
}
.dropzone{
	width: 100%;
	height: 350px;
	border: 2px dashed #ccc;
	text-align: center;
}
.dragover{
	background-color: rgba(163, 163, 163, 0.05);
}
.dropzone p{
	color: #bbb;
	font-size: 30px;
	padding: 20%;
}
.newImageDetails {
 margin: 0 auto;
 padding: 5%;
 width: 90%;
 text-align: center;
 z-index: 200;
}
.no-display{
	display: none;
}
.section-image{
	width: 100%;
	height: 350px;
	margin-bottom: 2%;
}
.image-preview-buttons{
	margin-bottom: 2%;
}
.project-story{
	padding-top: 5%;
}
.sp-cover-image{
	position: absolute;
	margin-top: -2%;
	margin-left: -5.8%;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.sp-header{
	position: absolute;
	z-index: 100;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	color: white;
}
.sp-header h1{
	font-weight: 900;
	font-size: 50px;
}
.sp-content{
	margin-top: 100vh;
	font-size: 20px;
	line-height: 30px;
}
.usp-img{
	width: 100%;
	height: 250px;
}
.usp-panel{
	padding: 2%;
	margin-bottom: 2%;
}
.notification{
	position: relative;
	z-index: 100;
}
.notification-content{
	position: absolute;
}