{{outlet}}
<div class="twelve columns">
	<div class="users">
		{{#each user in model}}
			<div class="four columns info-card">
				<img {{bind-attr class=":rounded-img :u-pull-left" src="user.gravatarUrl"}}>
				<div class="user-info">
					<h5>
						{{#link-to 'users.specific' user.slug}}
							{{user.fullName}}
						{{/link-to}}
					</h5>
					<p>Joined {{transform-date user.createdAt}}</p>	
				</div>
			</div>
		{{/each}}
	</div>
</div>
