{{outlet}}
<img src="http://localhost:8000/media/screenshot/2015/02/20/DeathtoStock_CreativeSpace1_11.45.06_AM.jpg" class="home-cover-image">
<div class="col-md-4 pull-right home">
		<div class="content">
			<h1>Showcase</h1>
			<h4>Start sharing your hard work with the world.</h4>
			{{link-to 'Register Now' users.register class="btn btn-primary btn-lg btn-block no-background"}}
		</div>
	</div>
</div>