<div class="col-md-12">
	<div class="loading-container">
		<section class="loading">
			<div class="loading-image">
				<img src="http://chriscoyier.github.io/SurveyMonkey-Design-Patterns/images/spinner_gray_160.gif">
				
			</div>
		</section>
	</div>
</div>